.top-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 60px;
}

.fix-search .event-search{
    position: fixed;
    margin: auto;
    padding:50px;
    top: 0px;
    left: 0px;
    right:0px;
    background-color:#777; 
    z-index: 9999 !important;
}

.price-range-wrap{
    margin-top: -25px;
}
